.h-primary div {
    font-size: 25px;
}

.onImg .para-primary {
    font-size: 17px;
}

.docContent {
    font-size: 16px;
}
.heading-prim {
    font-size: 2rem;
}

#act {
    font-size: 18px;
}